html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

header {
    width: 100%;
    position: fixed; 
    background-color: lightgoldenrodyellow;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header figure {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0.5em;
}

header ul li a {
    text-decoration-line: none;
    line-height: 2em;
    color: black;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro {
    background-color: pink;
}

h2 {
    font-size: 5rem;
    line-height: 1.25em;
    padding: 1.25em 0 0 0.5em;
}

.intro ul {
    align-self: flex-end;
    font-size: 2rem;
    line-height: 1.25em;
    padding: 0 1.25em 2.5em 0;
    list-style: square;
}

.bio {
    background-color: skyblue;
}

.bio h2 {
    padding: 0.5em 0 0 0.5em;
}

.bio img {
    width: 50%;
    align-self: center;
    border-radius: 10px;
}

.bio p {
    font-size: 1rem;
    padding: 0 2.5em 2.5em 2.5em;
}

.portfolio {
    background-color: lightgreen;
    padding: 0 0 2.5em 0;
}

.portfolio h2 {
    padding: 0.5em 0 0 0.5em;
}

.card {
    margin: 2.5em 2.5em 0 2.5em;
}

.base-card {
    height: 200px;
    background-color: white;
}

.card .info-button {
    height: 2.5em;
    width: 100%;
    background-color: blue;
    color: white;
    display: none;
}

.card:hover .info-button {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.contact {
    background-color: lightgoldenrodyellow;
}

.contact h2 {
    padding: 0.5em 0 0 0.5em;
}